@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Hurricane&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color:#ffffff;
}

* {
  box-sizing: border-box;
}
